body {
    font-family: $font;
    margin: 0px;
}

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.black {
    color: $black;
}

.blue {
    color: $blue-hover;
}

.dark-red {
    color: #922;
}

.no-margin {
    margin: 0px;
}

.is-hidden {
    opacity: 0 !important;
    display: none;
}
