@import "util";

.full-view {
    @include aspect-ratio(16, 9);
    > .world-map-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    > .world-map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.world-map-container {
    @extend .full-view;
    width: 85%;
    position: relative;
    margin: auto;
}

.world-map-overlay {
    position: absolute;
    z-index: 1;
}

.world-map {
    position: absolute;
    pointer-events: none; // do not allow the player to interact with the base world map
}

.game-header {
    width: 85%;
    // height: 500px;
}
