@import "util";

.full-view {
    @include aspect-ratio(16, 9);
}

.world-map-container {
    @extend .full-view;
    width: 100%;
    position: relative;
    margin: auto;
}

.world-map-overlay {
    @include absolute-position();
    z-index: 1;
}

.world-map-cures {
    $height: 70px;
    $width: 320px;

    @include bottom-center($width, $height, 20px);

    z-index: 2;
    background: #789; // remove this shit when you're sure the div looks good
    width: $width;
    text-align: center;

    overflow: auto
}

.cures-title {
    padding-top: 10px;
}

.cures-child {
    display: inline-block;
    padding: {
        left: 10px;
        right: 10px;
    }
    margin: {
        top: 10px;
        bottom: 10px;
    }
}

.cures-overlay {
    color: #eef;
}

.world-map {
    @include absolute-position();
    pointer-events: none; // do not allow the player to interact with the base world map
}
