$black: #222;
$blue: #05d;
$red: #f45;
$yellow: #fd0;

$black-hover: #555;
$blue-hover: #57f;
$red-hover: #a10;
$yellow-hover: #ff7;

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.black {
    color: $black;
}

.blue {
    color: $blue-hover;
}

.dark-red {
    color: #922;
}